######
##  Project configuration
##
## Configuration for the whole project.
## For local, developer/machine specific configuration please use the
## local.config file (see local.config.sample for an example).

# Target program name without any extension
PROG_NAME = Template

# Program version
PROG_VERSION = 0.0.0

# Files or directories to distribute with the program
DIST_FILES = 

# Any additional libraries to link
LIBS = 
